APP_NAME=event-service
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://api.ticketarget.localhost

LOG_CHANNEL=kafka
LOG_LEVEL=debug
KAFKA_BROKERS=kafka:9092
KAFKA_LOG_TOPIC=logs.app

DB_CONNECTION=pgsql
DB_HOST=postgres-primary
DB_READ_HOST=postgres-replica
DB_PORT=5432
DB_DATABASE=ticketarget
DB_USERNAME=ticketarget
DB_PASSWORD=change-me-postgres

CACHE_STORE=redis
REDIS_CLIENT=predis
REDIS_SENTINEL_MASTER=mymaster
REDIS_SENTINEL_HOSTS=redis-sentinel-1:26379,redis-sentinel-2:26379,redis-sentinel-3:26379
REDIS_PASSWORD=change-me-redis
REDIS_CACHE_DB=0
